@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mySwiper2 .swiper-button-prev,
.mySwiper2 .swiper-button-next {
  width: 2.5rem;
}

.mySwiper2 .swiper-button-prev{
  right: -3.125rem !important;
}

.mySwiper2 .swiper-button-prev:after,
.mySwiper2 .swiper-button-next:after {
  content: 'prev';
  color: white;
  background: #3e4143;
  align-self: center;
  width: 2.5rem;
  border-radius: 3.125rem;
  font-size: 1.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-button-next:after {
  content: 'next';
}

.swiper-button-disabled {
  display: none;
}